@use 'sass:map';
@use '@angular/material' as mat;

$indigo: mat.$indigo-palette;

.u-mw-300 {
  max-width: 300px;
}

button.u-ml-medium,
.u-ml-medium {
  margin-left: 10px;
}

button.u-ml-small,
.u-ml-small {
  margin-left: 5px;
}

.spacer {
  flex: 1 1 auto;
}

.u-d-f {
  display: flex;
}

// Remove miminum width of input fields
.mat-form-field-infix {
  width: auto !important;
}

mat-form-field.mod-hide-error {
  // .mat-form-field-wrapper {
  //   padding-bottom: 0;
  // }
}

.mat-calendar-body-cell.selected {
  background-color: map.get($indigo, 50) !important;
  border-radius: 50%
}

.mat-calendar-body-cell {
  &.selected {
    background-color: map.get($indigo, 50) !important;
    border-radius: 50%
  }

  &.first-selected {
    background-color: map.get($indigo, 50) !important;
    border-radius: 50% 0 0 50%;
  }

  &.last-selected {
    background-color: map.get($indigo, 50) !important;
    border-radius: 0 50% 50% 0;
  }

  &.middle-selected {
    background-color: map.get($indigo, 50) !important;
    border-radius: 0;
  }
}
