:host {
  mat-form-field {
    &.mat-form-field {
      font-size: 12px;
    }
    transform: translateY(9px);
  }

  .mat-form-field-flex {
    padding-top: 0;
  }
}

.mat-form-field-flex {
  padding-top: 0;
}
